Clean up redirect_uri management for scoped clients

- need to double check the trailing slash logic
- more

From mtg:  This parameter is required, but is not validated or used.  If the relier gives us a bogus redirect_uri, we ignore it and just use the registered value from their client record.  We should probably error out!

> is not validated

from mtg: let's validate the provided redirect uri, error out if it doesn't match. 

HOWEVER we should strip the trailing `/` on the end of the url, so

`http://lockbox/` vs `http://lockbox` should PASS 

https://github.com/mozilla/fxa-content-server/blob/master/server/lib/configuration.js#L445

CC @rfk to check what the RFC says about trailing slashes

Hrm, actually https://tools.ietf.org/html/rfc6749#section-3.1.2 section 3.1.2.3 is pretty clear that:

```
If the client registration included the full redirection URI, the authorization server MUST compare the two URIs using simple string comparison as defined in [RFC3986] Section 6.2.1.
```

Which forbids stripping trailing slashes.  So perhaps we should do the thing where we just change the registered redirect_uri to include the trailing slash, rather than trying to be clever here.

To clarify, my suggestion is that we:

* Update lockbox so their registered redirect_uri has the trailing slash, exactly matching the value they get from calling `identity.getRedirectURL()`
* Update our code to check the provided redirect_uri against the one registered for that relier, and error out if they are not an exact string match


Yeap! 